@page
@model GamePickerWeb.Pages.Games.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>GameModel</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.GameModel.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.GameModel.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.GameModel.SupportedPlayers)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.GameModel.SupportedPlayers)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.GameModel.SupportedPlatforms)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.GameModel.SupportedPlatforms)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.GameModel.Tags)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.GameModel.Tags)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.GameModel.LastPicked)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.GameModel.LastPicked)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.GameModel.LastPlayed)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.GameModel.LastPlayed)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.GameModel?.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
