@page
@model GamePickerWeb.Pages.Games.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.GameModel[0].Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GameModel[0].SupportedPlayers)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GameModel[0].SupportedPlatforms)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GameModel[0].Tags)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GameModel[0].LastPicked)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GameModel[0].LastPlayed)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.GameModel) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SupportedPlayers)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SupportedPlatforms)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tags)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastPicked)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastPlayed)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
