@page
@model GamePickerWeb.Pages.GamePickerModel
@{
}

<h3>Game Picker</h3>
<form class="form-horizontal" method="post">
	<h2>
		<label for="PickedGame" class="col-sm-6 control-label">@Model.PickedGame</label>
	</h2>
	<div class="form-group">
		<div class="row">
			<div class="col-sm-4">
				<label for="SelectedGames">Create a hat!</label>
			</div>
			<div class="col-sm-4">
				<label for="SupportedPlayers">Supported Players</label>
			</div>
			<div class="col-sm-4">
				<button type="submit" asp-route-param="Submit">Pick a game!</button>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-4">
				<select multiple="multiple" asp-for="SelectedGames" asp-items="@Model.SelectedGamesList" size="20">
				</select>
			</div>
			<div class="col-sm-4">
				<div class="row">
					<input type="number" class="form-control" name="SupportedPlayers" value="@Model.SupportedPlayers">
				</div>
				<div class="row">
					<label for="EnforcePlayerCount">Enforce Player Count</label>
					<input type="checkbox" name="EnforcePlayerCount" value="@Model.EnforcePlayerCount">
				</div>
				<div class="row">
					<label for="SupportedPlatforms">Supported Platforms</label>
					<select multiple="multiple" asp-for="SupportedPlatforms" asp-items="Html.GetEnumSelectList<GamePicker.Platform>()">
					</select>
				</div>
				<div class="row">
					<label for="RequiredTags">Required Tags</label>
					<input type="text" class="form-control" name="RequiredTags" value="@Model.RequriedTags">
				</div>
			</div>
		</div>
	</div>
</form>