@page
@model GamePickerWeb.Pages.GamePickerModel
@{
}

<form class="form-horizontal" method="post">
	<div class="col-sm-2">
		<button style="" type="submit" asp-route-param="Submit">Pick a game!</button>
	</div>
	<h2>
		<label for="PickedGame" class="col-sm-6 control-label">@Model.PickedGame</label>
	</h2>
	<div class="form-group">
		<div class="row">
			<div class="col-sm-4">
				<h5><label for="SelectedGames">Create a hat!</label></h5>
			</div>
			<div class="col-sm-6">
				<h5><label for="SupportedPlayers">Supported Players</label></h5>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-4">
				<select multiple="multiple" asp-for="SelectedGames" asp-items="@Model.SelectedGamesList" size="20">
				</select>
			</div>
			<div class="col-sm-6">
				<div class="row">
					<input type="number" class="form-control" name="SupportedPlayers" value="@Model.SupportedPlayers">
				</div>
				<div class="row">
					<div class="col-sm-4">
						<h5><label for="EnforcePlayerCount">Enforce Player Count</label></h5>
					</div>
					<div class="col-sm-1">
						<input type="checkbox" name="EnforcePlayerCount" value="@Model.EnforcePlayerCount">
					</div>
				</div>
				<div class="row">
					<h5><label for="SupportedPlatforms">Supported Platforms</label></h5>
					<select multiple="multiple" asp-for="SupportedPlatforms" asp-items="Html.GetEnumSelectList<GamePicker.Platform>()">
					</select>
				</div>
				<div class="row">
					<h5><label for="RequiredTags">Required Tags</label></h5>
					<input type="text" class="form-control" name="RequiredTags" value="@Model.RequriedTags">
				</div>
			</div>
		</div>
	</div>
</form>